extends ./layout.jade

block head
	title TAE Calculator
	script(src="js/vendors/jquery.min.js")
	link(href='css/styles.css', rel='stylesheet')

block body
	h1 Calculate TAE

	div.taeFormWrapper
		form(name="taeForm")
			div.label TIN
			input(type="number", name="tin", id='tin')
			div.label Interest payment frequency
			input(type="number", name="paymentFrequency", id='paymentFrequency')
			div.actions
			input(type="button", value="Calculate", id='calculateButton')

	div.taeResult

	script(src="js/taeFormHandler.js")